[Unit]
Description=Abalone Web Shell
After=network.target

[Service]
ExecStart=/usr/local/bin/abalone
WatchdogSec=30s
Restart=on-failure
NotifyAccess=all
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
